/* Main Styles */



body {
    background-color: lightgray;
    font-family: 'Roboto', sans-serif;
}

#logo {
        width: 50px;
        height: auto;
}


/*Nav*/
nav {
    background-color: darkblue;
    position: fixed;
}

nav ul {
    display:flex;
    list-style-type: none;
    margin-right: 10px;
    align-items:center;
    
}

nav ul a {
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    float: left;
    color: darkgray;
    text-align: center;
    text-decoration: none;
}

nav ul a:visited {
    color:#ODODOD;
}
nav ul a:visited {
    color:#ODODOD;
}
nav ul a:visited {
    color:#ODODOD;
}

nav ul a:hover {
    background-color:#C1E4FF
}
header{
    padding-bottom:80px;
}

/*Glacier Image*/

.glacier-img {
    position: relative;
    text-align: center;
    font-weight: bold;
}

.glacier-img img {
    filter:blur(3px)
}

.glacier-text  {
    background-color: rgba(220, 240, 210, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ODODOD;
}


/* Other Sites*/
.other-container {
    background-color: #E7DDF2;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.item {
    height: 100px
    margin 5px;
}

.item:hover {
    opacity: 0.5;
}


/*Footer*/
footer {
    font-size: 10px;
}
